* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 10px;
}
.name{
    font-family: "Rubik";
}

.link-no-style {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Rubik";
}

.link-no-style:hover {
  font-weight: bold;
}
.about-container {
  margin-top: 2rem;
}
.about {
  font-size: 1.8rem;
  font-family: "Rubik";
}
.triangle-container {
  position: relative;
  width: 100%; /* Full width */
  padding-top: 56.25%; /* Full height */
  overflow-y: hidden;
  margin-left: -10px;
}

.triangle {
  position: absolute;
  background-size: cover;
  background-image: url(https://picsum.photos/200/300);
}
.triangle-1 {
  left: -19px;
  top: 0;
  clip-path: polygon(73% 0%, 0% 100%, 100% 100%);
  width: 170px;
  height: 250px;
}

.triangle-2 {
  left: 110px;
  top: 0;
  clip-path: polygon(37% 100%, 0% 0%, 100% 50%);
}

.triangle-3 {
  left: 0vw;
  top: 0;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%);
}

.triangle-4 {
  left: 113px;
  top: -3px;
  clip-path: polygon(100% -15%, 0% 0%, 50% 25%);
  width: 200px; 
  height: 400px;
}

.triangle-5 {
  left: 147px;
  top: -150px;
  clip-path: polygon( 0% 88%, 5% 100%, 100% 90%);
  width: 200px;
  height: 400px;
}

.triangle-6 {
  left: 153px;
  top: 0px;
  clip-path: polygon(0% 33%, 42% 0%, 100% 0%);
  width: 300px;
  height: 600px;
}
.triangle-7 {
  left: 160px;
  top: -328px;
  clip-path: polygon(0% 94%,100% 95.5%,100% 61%);
  width: 280px;
  height: 560px;
}
.triangle-8 {
  left: 0px;
  top: 252px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  width: 100px;
  height: 200px;
}
.triangle-9 {
  left: 6px;
  top: 252px;
  clip-path: polygon(50% 100%, 72.5% 0, 0 0);
  width: 200px;
  height: 400;
}
.outer-container {
  background-color: #d8e3e1;
}
.greeting {
  font-size: 4rem;
  font-family: "Rubik";
}

.row>* {
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
}
.about-pic {
  position: relative; /* This is crucial */
  display: inline-block; /* Or 'block', depending on layout */
  line-height: 0; /* Removes space below the image */
  object-fit: cover;
}

.about-pic img {
  width: auto; /* Adjust width automatically */
  height: 100%; /* Maintain full height */
  min-width: 100%; /* Ensure it spans the full width of its container */
}

.about-pic::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0; /* Align to the right */
  bottom: 0;
  left: 0; /* Cover the entire image */
  background: linear-gradient(to right, transparent, #d8e3e1 90%); /* Adjust the 80% as needed */
  pointer-events: none;
}

.img-fluid {
  width: 100%; /* Full width */
  height: auto; /* Maintain aspect ratio */
}

/* For narrower screens, where you want to fill the height and allow width to be auto */
@media (max-width: 768px) {
  .img-fluid {
    width: auto; /* Allow width to adjust */
    height: 100%; /* Full height */
    min-width: 100%; /* Ensure it spans at least the full width of its container */
    object-fit: cover; /* Cover the area, allowing the image to be cropped */
  }
}
.project-title{
  font-size: 2rem;
  font-family: "Rubik";
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  padding: 3rem;
}
.project-title>a{
  font-size: 2rem;
  font-family: "Rubik";
  font-weight: bold;
  color: inherit;
  text-decoration: none;
}
.project-desc{
  font-size: 1.5rem;
  font-family: "Rubik";
  font-weight: normal;
}
.projects{
  padding: 2rem;
  background-color: #d8e3e1;
}